body {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.column-container {
  height: 200px;
  width: 100%;
}

.column {
  padding-left: 1%;
  padding-right: 1%;
  overflow: auto;
}

#left {
  float: left; width: 29%;
}

#right {
  float: right; width: 29%;
}

#center {
  margin-left: 3%;
  margin-right: 3%;
  display: inline-block; width: 29%;
}

#intro {
  text-align: center;
  padding-top: 15px;
}

