.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1A0F17;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #EAC4D5;
}

.App-subheader {
  background-color: #F7B267;
}

.blue {
  background-color: #547AA5;
  /* nickel #717568 ruby red #A31621  teagreen #D1FFC6 medium aquamarine #61E294 dark spring green #2C6E49 blue munsel #1B9AAA*/
}

.dusty-pink {
  background-color: #EAC4D5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
