// Custom.scss
// Option A: Include all of Bootstrap
// Your variable overrides
$body-bg: #99C2A2; //#1A0F17; //dark purp
$body-color: #DBFEB8;
$bg-primary: #C5EDAC;//#2C6E49;

$theme-colors: (
  "primary": #DBFEB8,//#1B9AAA,
  "danger": #ff4136
);

@import "node_modules/bootstrap/scss/bootstrap";
